
        <div class='centered-container'>
            <form method='POST' action='/jokePost'>
                <label>
                    Gimme a
                    <select id="type" name="type" class='joke-select' onchange="getNewJoke()">
                        <option value='undefined'>Select</option>
                        <option value='dad'>dad</option>
                        <option value='geek'>geek</option>
                        <option value='tronald'>tronald</option>
                    </select>
                    Joke,
                </label>
                <button type="submit">NOW!!</button>
            </form>
        </div>
        <div id='joke-text'>Here is your joke: <%=joke%></div>
        <script src="/make-me-laugh/scripts.js"></script>


